<div id="wrapper">
  <h1>The Geek Stuff (www.geekstuff.com) Scraper With Mongoose</h1>

    <ul>
      {{#each dbArticle}}
        <li>

          <div id="title">
            <p>Article Title:  {{title}}</p>
            <div id="notes"></div>
          </div>

          <p>Link to Article:  {{link}}</p>
        </li>
      {{/each}}
    </ul>



</div>